body {
    background-image: url(../img/pasto.jpg);
  }
/* INDEX*/
  * {
    padding: 10;
    margin: 10;
    text-decoration: none;
    list-style: none;
  }

@import "../scss/base/header";
@import "../scss/base/navbar";
@import "../scss/componts/propiedades";
@import "../scss/componts/secciones";
@import "../scss/base/footer";
@import "../scss/componts/responsive"