/*body {
    background-image: url(img/pasto.jpg);
  }
/* INDEX*/
/*  * {
    padding: 10;
    margin: 10;
    text-decoration: none;
    list-style: none;
  }

  h1 {
    color: blueviolet;
  }

 

  a, li {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
  }

  .navbar ul {
    display: flex;
    align-items: end;
  }
  .navbar li {
    margin-right: 1.5rem;
  }

  .navbar a:hover {
    color: rgb(71, 193, 241);
  }

  .navbar li {
    background-color: rgb(71, 193, 241);
    border: 2px solid rgb(71, 193, 241);
    padding: .25rem .75rem;
   }

   .navbar li:hover {
    background: transparent;
    border: 2px solid  rgb(71, 193, 241);
   }

   .varias {
    border-color: black;
    margin-top: 6%;
    margin-left: 3%;
  }
    
  img {
    width: 350px;
    height: 300px;
    border: solid; color: black;
  } 
 
  p {
    text-indent: 10%;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    text-align: left;
    font-size: 20px;
  }
  
  
  .div {
    text-align: center;
    padding-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
  }
  .seccion {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-top: 40px;
    margin-left: 6%;
  }

    /* MOBILE*/
/*@media screen and (max-width: 420px) {
  .titulo {
    margin-left: 6px;
  }

  .varias {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .seccion {
   display: block;
   margin-left: 40px;
  }
}
  
  .grid-img {
    width: 100%;
  }
  
  .footer {
    text-align: center;
    background-color: black;
    color: white;
    width: 100%;
    padding: 20px;
  }

 

  a, li {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
  }

  .navbar-2 ul {
    display: flex;
    align-items: end;
  }

  .navbar-2 li {
    margin-right: 1.5rem;
  }

  .navbar-2 a:hover {
    color: rgb(71, 193, 241);
  }

  .navbar-2 li {
    background-color: rgb(71, 193, 241);
    border: 2px solid rgb(71, 193, 241);
    padding: .25rem .75rem;
   }

  .navbar-2 li:hover {
    background: transparent;
    border: 2px solid  rgb(71, 193, 241);
   }

   .seccion-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-color: black;
    margin-top: 6%;
  }

  p {
    text-indent: 10%;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    text-align: left;
    font-size: 20px;
  }

  button {
    margin-right: 1.5rem;
    padding: .4rem 2rem;
    background-color: rgb(15, 147, 235);
    color: black;
  }

  /* BOTINES*/
  /*.titulo-3 {
    background-color: rgb(33, 168, 33);
    display: flex;
    justify-content: space-between;
    padding: .4rem 2rem;
    position: fixed;
    top: 0;
    width: 97%;
  }

  a, li {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
  }

  .navbar-3 ul {
    display: flex;
    align-items: end;
  }

  .navbar-3 li {
    margin-right: 1.5rem;
  }

  .navbar-3 a:hover {
    color: rgb(71, 193, 241);
  }

  .navbar-3 li {
    background-color: rgb(71, 193, 241);
    border: 2px solid rgb(71, 193, 241);
    padding: .25rem .75rem;
   }

  .navbar-3 li:hover {
    background: transparent;
    border: 2px solid  rgb(71, 193, 241);
   }

   .seccion-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-color: black;
    margin-top: 6%;
  }

  
  /* MEDIAS*/
  /*.titulo-4 {
    background-color: rgb(33, 168, 33);
    display: flex;
    justify-content: space-between;
    padding: .8rem 4rem;
    margin: 10px;
    position: fixed;
    top: 0;
    width: 99%;
  }

  a, li {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
  }

  .navbar-4 ul {
    display: flex;
    align-items: end;
  }

  .navbar-4 li {
    margin-right: 1.5rem;
  }

  .navbar-4 a:hover {
    color: rgb(71, 193, 241);
  }

  .navbar-4 li {
    background-color: rgb(71, 193, 241);
    border: 2px solid black;
    padding: .15rem .45rem;
   }

  .navbar-4 li:hover {
    background: transparent;
    border: 2px solid  rgb(71, 193, 241);
   }

   .seccion-4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-color: black;
    margin-top: 6%;
  }

  .carta {
    margin-left: 20%;
    margin-bottom: 2%;
    background-color: white;
  }

   /* MOBILE*/
/*@media screen and (max-width: 420px) {
  .seccion-4 {
    display: block;
    margin-top: 20%;
  }
}
  .card-text {
    color: black;
  }

  
  /* CARRITO*/
  /*.titulo-5 {
    background-color: rgb(33, 168, 33);
    display: flex;
    justify-content: space-between;
    padding: .4rem 2rem;
  }

  a, li {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
  }

  .navbar-5 ul {
    display: flex;
    align-items: end;
  }

  .navbar-5 li {
    margin-right: 1.5rem;
  }

  .navbar-5 a:hover {
    color: rgb(71, 193, 241);
  }

  .navbar-5 li {
    background-color: rgb(71, 193, 241);
    border: 2px solid rgb(71, 193, 241);
    padding: .25rem .75rem;
   }

  .navbar-5 li:hover {
    background: transparent;
    border: 2px solid  rgb(71, 193, 241);
   }

   .seccion-5 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    border-color: black;
    margin-top: 2%;
   } 