@import "../componts/listas";
.titulo {
    background-color: nth($colores, 2);
    display: flex;
    justify-content: space-between;
    padding: .4rem 2rem;
    position: fixed;
    top: 0;
    width: 97%;
    margin-left: 20px;
    margin-bottom: 30px;
  }

  h1 {
    color: blueviolet;
  }

   /* REMERAS*/
 .titulo-2 {
    background-color: nth($colores, 2);
    display: flex;
    justify-content: space-between;
    padding: .4rem 2rem;
    position: fixed;
    top: 0;
    width: 97%;
    margin-left: 1%;
  }

   /* BOTINES*/
   .titulo-3 {
    background-color: nth($colores, 2);
    display: flex;
    justify-content: space-between;
    padding: .4rem 2rem;
    position: fixed;
    top: 0;
    width: 97%;
    margin-left: 1%;
  }

   /* MEDIAS*/
   .titulo-4 {
    background-color: nth($colores, 2);
    display: flex;
    justify-content: space-between;
    padding: .8rem 4rem;
    margin: 10px;
    position: fixed;
    top: 0;
    width: 99%;
  }

   /* CARRITO*/
   .titulo-5 {
    background-color: nth($colores, 2);
    display: flex;
    justify-content: space-between;
    padding: .4rem 2rem;
  }